<%= will_paginate @feed_items %>
  <%= form_tag admin_tours_path, method: :get, class:"input-group mb-3" do %>
    <div class="input-group-prepend">
    <%= submit_tag t("submit"), class:"btn btn-outline-secondary" %>
    </div>
    <%= select_tag "category", options_from_collection_for_select(@categories, "id", "name"),
      include_blank: "All", class:"custom-select"%>
  <% end %>
  <div class="row">
    <%= render "shared/feed" %>
  </div>
<%= will_paginate @feed_items %>

