<div class="col-sm-4 mb-3">
  <div class="card card-index" id="tour-<%= tour.id %>">
    <div class="card-header">
      <%= link_to tour.name, tour, class:"card-link" %>
    </div>
    <div class="card-body">
      <%= image_tag tour.picture.url, class:"card-img" if tour.picture? %>
      <p class="tour_content"><%= tour.description %></p>
    </div>
    <div class="card-footer">
      <%= link_to t("link_tour"), tour, class:"btn btn-success card-bot"%>
    </div>
  </div>
</div>
