<h1 class="color-primary mt-0 mb-15 hidden-xs">
  <%= @tour.name %>
</h1>
<div class="row">
  <div class="col-md-8">
    <%= image_tag @tour.picture.url, class:"card-img-top" if @tour.picture? %>
    <div class="card">
      <div class="card-header text-center">
        <span class="mr-4"><%= t "start_date" %>: <%= @tour.start_date %></span>
        <span class="mr-4"><%= t "end_date" %>: <%= @tour.end_date %></span>
        <span><%= t "tour_quantity" %>: <%= @tour.quantity %></span>
      </div>
      <div class="card-body">
        <span><%= @tour.description %></span>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <% if logged_in? %>
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item list-group-item-info"><%= t "unit_price" %>
              <span class="badge" id="unit_price"><%= t "dola", price:@tour.price %></span>
            </li>
            <li class="list-group-item list-group-item-success"><%= t "price_total" %>
              <span class="badge" id="price"><%= t "dola", price:@tour.price %> </span>
            </li>
            <li class="list-group-item list-group-item-success"><%= t "number_of_seats_remaining" %>
              <span class="badge" id="number"><%= @tour.seats_remaining %></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <%= form_for @booking, class:"form-inline" do |f| %>
            <%= f.hidden_field :tour_id, value: @tour.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= t "quantity" %> <%= f.number_field :quantity, min: Settings.remember_me,
              max: @tour.seats_remaining, value: Settings.number_field, id: "quantity" %>
            <%= f.submit t("book_tour"), class: "btn btn-danger disable" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if logged_in? %>
  <div class="row mt-3">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body review-form">
          <div class="row">
            <div class="col-md-2">
              <%= image_tag("latest_1.jpg") %>
            </div>
            <div class="col-md-10">
              <%= current_user.name %>
              <div class="row">
                <div class="col-md-12">
                <%= form_for @review, remote: true do |f| %>
                  <%= f.hidden_field :tour_id, value: @tour.id %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.text_area :content, placeholder: t("review_holder"),
                    class:"form-control", rows: Settings.row_review %>
                  <%= f.submit t("send"), class: "btn btn-info float-right mt-2" %>
                <% end %>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if @reviews.any? %>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <%= render @reviews %>
        </div>
      </div>
    </div>
  </div>
<% end %>
